version: '3.8'

services:
  # Next.js 应用服务
  app:
    image: crpi-9z1hidkjls8nqxrc.cn-hangzhou.personal.cr.aliyuncs.com/helyderive/web:1.0.0
    container_name: qingflow_geo_web
    ports:
      - "23000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}?schema=public
      - API_SECRET_KEY=${API_SECRET_KEY}
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - web_network

  # MySQL 数据库服务
  db:
    image: mysql:8.0
    container_name: qingflow_geo_db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - web_network
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
    name: qingflow_geo_mysql_data

networks:
  web_network:
    name: web_network
    driver: bridge